.authorization form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid white;
    background: var(--green-200);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
}

.authorization div {
    display: flex;
    flex-direction: column;
}

.authorization div:nth-child(1) {
    margin-bottom: 0.5rem;
}

.authorization div:nth-child(2) {
    margin-bottom: 2rem;
}

.authorization label {
    color: white;
    margin-bottom: 0.25rem;
    user-select: none;
}

.authorization input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.authorization button {
    align-self: center;
    width: fit-content;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: all .25s;
    background: white;
    font-size: large;
}

.authorization button:hover {
    background: #5f61a9;
    color: white;
}